.side-bar
  .user-name
    .top-items
      %p.top-items__name
        masa
      %ul.top-items__icons
        = link_to "#", class:"top-items__icons__btn--edit" do
          = icon('far', 'edit', class:"top-items__icons__btn")
        = link_to "#", class:"top-items__icons__btn--config" do
          = icon('fas', 'cog', class:"top-items__icons__btn")
  .group-list
    .list
    %p.list__group-name
      techcamp
    %p.list__latest-message
      まだメッセージがありません